:root {
    --prime-color: #3D3D3D;
    --search-and-header-color: #F4F4F4;
    --light-text-color: #B6B6B6;
}

.css-1t4ro56-MuiTableCell-root {
    color: var(--prime-color) !important;
}

.MuiTableContainer-root {
    box-shadow: none !important;
}

.MuiTable-root {
    border-collapse: separate !important;
    border-spacing: 0 5px !important;
    border: transparent !important;

}

.MuiTable-root th, .MuiTable-root td {
    border-top: 1px solid var(--search-and-header-color);
    border-bottom: 1px solid var(--search-and-header-color);
}

.css-hmlrj8-MuiTableCell-root {
    border-left: 1px solid var(--search-and-header-color);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.css-1t4ro56-MuiTableCell-root {
    border-left: 1px solid var(--search-and-header-color);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.css-bi7ea8-MuiTableCell-root {
    border-right: 1px solid var(--search-and-header-color);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.css-1cakr48-MuiTableCell-root {
    border-right: 1px solid var(--search-and-header-color);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

